.card {
    display: block;
    position: relative;
    overflow: hidden; }
    .card--right {
      float: right; }
    .card--left {
      float: left; }
    .card--with-border {
      outline: 4px solid #fff; }
    .card--without-border {
      outline-style: none; }
  
  .card-background {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }